<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="card text-center">
    {{#with singlePost}}
     <div class="card-header">
      <h2 class="text-center text-primary">{{title}}</h2>
    </div>
    <div class="card-body">
      <h3 class="card-text ">
        {{post_content}}</h3>
    </div>
    <div class="card-footer text-muted">
      <p class="text-muted">Posted by: <span class="fs-5 text-primary">{{user.username}}</span> on <span>{{format_date created_at}}</span></p>
      {{/with}}
    </div>
  </div>
</div>
{{#if logged_in}}
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded text-center">
    <form id="create-comment">
      <h3 class="text-center text-primary">Leave a Comment</h3>
      <div class="mb-3">
        {{#with singlePost}}
        <input type="hidden" id="post_id" value={{id}} />
        <input type="text" id="comment_text" class="form-control" />
        {{/with}}
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </form>
  </div>
{{/if}}
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded text-center"></div>
  <h2 class="text-center text-primary">Comments</h2>
  {{#with singlePost}}
    <div class="card-body">
      <p class="card-text">
        {{comment.comment_text}}
      </p>
      <h5 class="text-center text-muted">Posted by: {{user.username}} on <span>{{format_date commments.createdAt}}</span></h5>
    </div>
  {{/with}}
</div>

<script src="/js/createComment.js"></script>