<div class="cards">
<div class="form shadow p-3 bg-light w-75 rounded">
  <div class="card text-center">
    {{#with singlePost}}
     <div class="card-header">
      <div class="mb-3 text-center w-75">
      <h2 class="fs-3">{{title}}</h2>
    </div>
    </div>
    <div class="card-body">
      <p class="card-text text-secondary">
        {{post_content}}</p>
    </div>
    <div class="card-footer text-muted">
      <p class="text-muted"><span class="fs-5">{{user.username}}</span>  <span>{{format_date created_at}}</span></p>
      {{/with}}
    </div>
  </div>
</div>
</div>
{{#if logged_in}}
<div class="cards">
  <div class="form shadow p-3 bg-light w-50 rounded">
    <form id="create-comment">
      <h3 class="text-center">Leave a Comment</h3>
      <div class="mb-3 text-center">
        {{#with singlePost}}
        <input type="hidden" id="post_id" value={{id}} />
        <input type="text" id="comment_text" class="form-control text-center" />
        {{/with}}
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn postBtn">Add Comment</button>
      </div>
    </form>
  </div>
  </div>
{{/if}}
<div class="cards">
  <div class="form shadow p-3 bg-light w-50 rounded">
  <h2 class="fs-2 text-center">Comments</h2>
    <div class="card mb-3">
      {{#each singlePost.comments}}
      <p class="card-header text-center text-secondary">{{comment_text}}</p>
      <p class="text-muted text-center"><span class="fs-5">{{user.username}}</span>  <span>{{format_date createdAt}}</span></p>
      {{/each}}
     </div>
</div>
</div>
<script src="/js/createComment.js"></script>